.jumbotron {
    color:white;
    background-image: url(./img/hands.jpg);
    background-size: cover;
    border: 2px solid rgb(146, 250, 219);
    background-repeat: no-repeat;
    background-position: center;
    height: 42rem;
    width: 100%;
    padding: 3rem; 
    box-shadow: 0px 7px 15px rgb(3, 54, 50);
    text-align: center;
    text-shadow: 0px 1px 3px rgb(9, 146, 123);
    z-index: 10px;
}
Table {
    font-weight: 600;
    max-width: 80%;
    margin: auto;
    height: 10rem;
}
.loginSwitch a{
    color:white;
    margin:10px;
    text-shadow: 1px 1px 2px rgb(5, 37, 73);
}
.loginSwitch a:hover{
    color:lightgreen;
}
.loginSwitch{
    /* display: flex; */
    /* justify-content: flex-end; */
    margin-top: 1rem;
    margin-bottom:0px;
    text-align: center;
} 
.loginSwitcher_item-Active  {
    background-color: rgb(39, 195, 104);
    color: white;
    padding: 5px;
    font-size: 1.75rem; 
      border-radius: 10px;
    display: inline-block;
    box-shadow: 1px 5px 8px rgb(26, 85, 60);
    text-shadow: 1px 1px 3px black;
}
.App {
    margin-top: 100px;
}
.pageSwitcher_item {
 
   text-shadow: 1px 1px 2px rgb(5, 37, 73);
}

.registerPage {
    text-align: center;
} 
