Table {
    font-weight: 600;
    max-width: 80%;
    margin: auto;
    height: 10rem;
}

.registerPage {
    text-align: center;
} 

.footer {
    background-color: rgb(69, 180, 147);
    text-align: center;
    padding:5px 0 10px 5px;
    color: white;
    text-shadow: 0px 1px 2px rgb(4, 27, 24);
    position: absolute;
    left: 0;
    bottom: 2;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    box-shadow: 2px 2px 10px rgb(41, 97, 43);
}
 
.centered {
    display: block;
    margin: 0 auto;
  }
