.jumbotron {
    color:white;
    background-image: url(./img/hands.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 22rem;
    text-align: center;
}

Table {
    max-width: 80%;
    margin: auto;
}