.page-title {
    text-align: center;
    color: green;
    margin-bottom: 15rem;
    }

.btn {
    margin: 3px;
    display: inline-block;
}
.activity-image {
    background-image: url(../img/feeding.jpg);
}

.white-container {
    background: white;
    /* opacity: 0.50%; */
}