.page-title {
    text-align: center;
    margin-bottom: 20px;
    }

.btn {
    margin: 3px;
    display: inline-block;
}
.new-image {
    background-image: url(../img/family.jpg);
}

.white-container {
    background: rgb(130, 210, 235);
    opacity: 50%;
}