/* .jumbotron {
    color:white;
    background-image: url(./img/hands.jpg);
    background-size: cover;
    border: 2px solid rgb(146, 250, 219);
    background-repeat: no-repeat;
    background-position: center;
    height: 12rem;
    width: 100%;
    padding: 3rem; 
    box-shadow: 0px 7px 15px rgb(3, 54, 50);
    text-align: center;
    text-shadow: 0px 1px 3px rgb(9, 146, 123);
} */

.welcomeTitle {
    color: white;
    text-shadow: 1px 1px 2px rgb(2, 92, 87);
    font-family: 'Satisfy', cursive;
   font-size: 6rem;
}

.carouselText3 {
    color:black !important;
}
.carouselText {
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 800;
}
.welcomeTitle3 {
    color:rgb(2, 92, 87);
    text-shadow: 1px 1px 2px white;
    font-family: 'Satisfy', cursive;
   font-size: 10rem;
}
.carouselBtn2 {
    background-color: rgb(4, 86, 97);
    color:white;
}
.carouselBtn1 {
    background-color: rgb(84, 173, 136);
}
.carouselBtn2 :any-link , .carouselBtn1 :any-link {
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
}
.d-block {
   width:100%;
   background-size: cover;
   height: 50em; 
}
.carousel-caption {
    margin-bottom: 14em;
}