.childCard {
    float: left;
    /* background-color: rgb(93, 192, 171);
    padding: 10px;
    margin:10px; */
    /* border-radius: 20px; */
}
.card-header, .card-footer {
    font-weight: 600;
    text-align: center;
    padding:20px;
    background-color: rgb(93, 192, 171);
    border-radius: 20px !important;
    box-shadow: 0px 0px 3px rgb(3, 6, 7);
}
.card {
     background-color: rgb(52, 85, 129);
    padding: 30px;
    margin:20px;
    border-radius: 25px;
    color: white;
    text-shadow: 1px 2px 3px black;
}
.childBtn {
    box-shadow: 1px 2px 3px black;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    text-shadow: 0px 0px 2px rgb(3, 53, 44);
}